<th:block th:fragment="create-match(teams)">
    <!--/*@thymesVar id="teams" type="java.util.List<com.project.nsbet.model.Team>"*/-->
    <!--/*@thymesVar id="team" type="com.project.nsbet.model.Team"*/-->

    <h3 class="h3 mb-3 fw-normal">Создание матча</h3>
    <form class="row g-3 needs-validation" method="post" th:action="/matches">
        <h5 class="h5 mb-3 fw-normal">Команда 1</h5>
        <div class="col-md-6 position-relative">
            <label for="validationTooltip01" class="form-label">Название команды <span
                    class="text-danger">*</span>
            </label>
            <select class="form-control"
                    id="validationTooltip01" name="firstTeamName"
                    required
                    th:each="team : ${teams}" type="text">
                <option th:text="${team.name}"
                        th:label="${team.name}"
                        th:value="${team.name}">
                    Team name
                </option>
            </select>
        </div>

        <h5 class="h5 mb-3 fw-normal">Команда 2</h5>
        <div class="col-md-6 position-relative">
            <label for="validationTooltip02" class="form-label">Название команды <span
                    class="text-danger">*</span>
            </label>
            <select type="text" class="form-control" id="validationTooltip02" name="secondTeamName" required>
                <option th:each="team : ${teams}"
                        th:text="${team.name}"
                        th:label="${team.name}"
                        th:value="${team}">
                    Team name
                </option>
            </select>
        </div>

        <div class="col-md-6 position-relative">
            <label for="validationTooltip03" class="form-label">Дата матча<span class="text-danger">*</span>
            </label>
            <input type="datetime-local" class="form-control" id="validationTooltip03" name="matchDateTime"
                   required>
        </div>
        <div class="col-12">
            <button class="btn btn-primary mt-3 mb-3" type="submit">Создать матч</button>
        </div>
    </form>
</th:block>
