<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head th:replace="parts/header :: head"></head>

<body>

<!-- Start Of Content -->
<main class="mx-auto container">
    <div class="col-md-12 col-sm-12 text-center">
        <h1 class="display-1">
            404
        </h1>

        <span class="card-subtitle mb-2">
            Страница не найдена
        </span>

    </div>
</main>
<!-- End Of Content -->

<footer th:replace="parts/footer :: footer"></footer>
<div th:replace="parts/footer :: scripts"></div>
</body>

</html>
