<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head th:replace="parts/header :: head"></head>

<body>
<header th:replace="parts/header :: header"></header>

<!-- Start Of Content -->
<main class="row container pt-5 pb-5">
    <h1 class="mb-3">Администрирование</h1>
    <div class="accordion" id="adminAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#create-match"
                        aria-expanded="true" aria-controls="collapseOne">
                    Создание матчей
                </button>
            </h2>
            <div id="create-match" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                 data-bs-parent="#adminAccordion">
                <div class="accordion-body">
                    <th:block th:include="parts/admin/create-match :: create-match(${teams})">Create Match including
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- End Of Content -->

<footer th:replace="parts/footer :: footer"></footer>
<div th:replace="parts/footer :: scripts"></div>
</body>

</html>