<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head th:replace="parts/header :: head"></head>

<body>
    <header th:replace="parts/header :: header"></header>

    <!-- Start Of Content -->
    <main class="row container pt-5 pb-5">
        <h1>Ставки</h1>
        <form class="row g-3 needs-validation" action="/bets" method="post">
            <h5 class="h5 mb-3 fw-normal">Ставка на результат</h5>

            <div class="row text-center">
                <div class="form_radio_btn col-auto">
                    <input id="radioWin" class="form-check-input mt-0" type="radio" name="userChoice" value="firstTeamWin" required>
                    <label for="radioWin">
                        <span th:text="${match.firstTeam.name}">Team 1</span>
                        <hr class="m-0">
                        <span>x2</span>
                    </label>
                </div>
                <div class="form_radio_btn col-auto">
                    <input id="radioDraw" class="form-check-input mt-0" type="radio" name="userChoice" value="draw" required>
                    <label for="radioDraw">
                        Ничья
                        <hr class="m-0"><span>x1.25</span>
                    </label>
                </div>
                <div class="form_radio_btn col-auto">
                    <input id="radioLose" class="form-check-input mt-0" type="radio" name="userChoice" value="secondTeamWin" required>
                    <label for="radioLose">
                        <span th:text="${match.secondTeam.name}">Team 2</span>
                        <hr class="m-0">
                        <span>x2</span>
                    </label>
                </div>
                <input type="hidden" name="matchId" th:value="${match.id}">
            </div>

            <div class="row mt-3">
                <label for="betValueInput" class="form-label">
                    Величина ставки<span class="text-danger">*</span>
                </label>
                <p th:if="${error != null}" th:text="${error}" class="text-danger">Ставка невозможна</p>
                <div class="input-group col-md-4" style="width: auto;">
                    <span class="input-group-text">₽</span>
                    <input type="text" class="form-control col-md-4" name="betValue" id="betValueInput" required>
                    <span class="input-group-text">.00</span>
                </div>
            </div>

            <div th:if="${!match.matchStartTime.isBefore(#temporals.createNow())}"
                 class="col-12">
                <button class="btn btn-primary mt-3 mb-3" type="submit">Сделать ставку</button>
            </div>
        </form>
    </main>
    <!-- End Of Content -->

    <footer th:replace="parts/footer :: footer"></footer>
    <div th:replace="parts/footer :: scripts"></div>
</body>

</html>