<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<body>
<footer th:fragment="footer">
    <p class="text-muted">&copy; 2021 NSkul</p>
</footer>
</body>

<th:block th:fragment="scripts">
    <!-- JQuery v3.6.0 -->
    <script th:src="@{/main/js/JQuery_v3.6.0.min.js}"></script>
    <!-- Bootstrap JS -->
    <script th:src="@{/main/js/popper.min.js}"></script>
    <!-- Bootstrap JS -->
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

    <!--  Manage MagicCSS  -->
    <script th:src="@{/main/js/addMagic.js}"></script>
    <!--/  Manage MagicCSS  -->

    <!-- Charts.js -->
    <th:block th:if="${#httpServletRequest.getRequestURI().endsWith('/profile')}">
        <script th:src="@{/main/js/chart.min.js}"></script>
        <!--/*@thymesVar id="winBets" type="int"*/-->
        <!--/*@thymesVar id="loseBets" type="int"*/-->
        <script th:replace="~{parts/js/profile-inline-js :: profile-stat-js(${winBets}, ${loseBets})}">
            // Profile Data Chart.js
        </script>
    </th:block>
    <th:block th:if="${#httpServletRequest.getRequestURI().equals('/')}">
        <script th:src="@{/main/js/chart.min.js}"></script>
    </th:block>
</th:block>

</html>