<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-utilities.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-reboot.min.css}">
    <!--/ Bootstrap  -->

    <!-- Custom -->
    <link rel="stylesheet" th:href="@{/main/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/main/css/main.css}">
    <!--/ Custom -->

    <title>NSBet - Ставки на спортивные игры (учебный проект)</title>
</head>

<body>
    <header class="container-fluid p-3 bg-dark text-white" th:fragment="header">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-white">Главная</a></li>
                <li><a sec:authorize="isAuthenticated()" href="/bets" class="nav-link px-2 text-white">Мои ставки</a></li>
            </ul>

            <div sec:authorize="!isAuthenticated()" class="text-end">
                <a href="/login" role="button" aria-pressed="true" class="btn btn-outline-light me-2">Вход</a>
                <a href="/sign-up" role="button" aria-pressed="true" class="btn btn-warning">Регистрация</a>
            </div>

            <div sec:authorize="isAuthenticated()" class="dropdown text-end row">
                <p class="col-auto m-0 pt-1"><span th:text="${user.wallet.balance}"></span> ₽</p>
                <a href="#" class="col d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img th:src="'/avatars/' + ${user.avatar.id}" alt="mdo" width="32" height="32"
                        class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="/profile">Профиль</a></li>
                    <li><a class="dropdown-item" href="/admin">Настройки</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/logout">Выход</a></li>
                </ul>
            </div>
        </div>
    </header>
</body>

</html>